


body {
    font-family: 'Segoe UI';
}


.titulo {
    text-align:center;
    font-family:'Segoe UI'
}

.azul {
    color:blue
}



.mitad {
    width:50%
}

.row {
    padding-top:1px;
    padding-bottom:1px
}

.table{
    font-size:small
}

#addModalLabel {

    color:blue;
    font-weight:bold;
    font-size:large;
}

#editModalLabel {
    color: blue;
    font-weight: bold;
    font-size:large;
}

.modal-dialog.modal-1024 {
    max-width:1024px;
    width: 1024px;
    margin: 30px auto;
}

.div.Region {
    font-weight:bolder;
    border-bottom:solid;
    border-bottom-width:1px
}

.btn-label {
    font-family:'Segoe UI';
    color:white
}

.btn-shadow {
    box-shadow: 5px 5px 8px #888888;
}

.fondo {
    /*background-color: rgba(255, 255, 255, 0.60);*/
    border-radius: 5px 5px;
    -webkit-box-shadow: 10px 10px 5px #888888;
    box-shadow: 5px 5px 45px #888888;
    border: 2px solid #999999;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background-color: rgba(125, 115, 125, 0.60);
}

.encabezado{
    padding-top:5px;
  
}

.pie {
    padding-bottom: 5px;
}

